
<p id="directions">Type your responses below:</p>

<p>
	<input type="text" placeholder="name" ng-model="name" />
	<input type="text" placeholder="adjective" ng-model="adjective" />
	<input type="text" placeholder="verb" ng-model="verb" />
	<input type="text" placeholder="noun" ng-model="noun" />
</p>
<p>
<input type="text" placeholder="exclaimation" ng-model="exclaimation" />
<input type="text" placeholder="object in space" ng-model="spaceObject" />
<input type="text" placeholder="question word" ng-model="questionWord" />
<input type="text" placeholder="a way to say goodbye" ng-model="goodBye" />
</p>

<div>
  <button class="btn btn-success" ng-click="save()">Add your words!</button>
</div>